
.vs/TestTakerScanner/v15/.suo
.vs/TestTakerScanner/v15/Server/sqlite3/db.lock
.vs/TestTakerScanner/v15/Server/sqlite3/storage.ide
.vs/TestTakerScanner/v15/Server/sqlite3/storage.ide-shm
.vs/TestTakerScanner/v15/Server/sqlite3/storage.ide-wal
GUI/bin/Debug/GUI.exe
GUI/bin/Debug/GUI.exe.config
GUI/bin/Debug/GUI.pdb
GUI/bin/Debug/MyLib.dll
GUI/bin/Debug/MyLib.pdb
GUI/bin/Debug/Newtonsoft.Json.dll
GUI/bin/Debug/Newtonsoft.Json.pdb
GUI/bin/Debug/Newtonsoft.Json.xml
GUI/obj/Debug/App.g.cs
GUI/obj/Debug/App.g.i.cs
GUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GUI/obj/Debug/GUI.csproj.CopyComplete
GUI/obj/Debug/GUI.csproj.CoreCompileInputs.cache
GUI/obj/Debug/GUI.csproj.FileListAbsolute.txt
GUI/obj/Debug/GUI.csproj.GenerateResource.cache
GUI/obj/Debug/GUI.csprojAssemblyReference.cache
GUI/obj/Debug/GUI.exe
GUI/obj/Debug/GUI.g.resources
GUI/obj/Debug/GUI.pdb
GUI/obj/Debug/GUI.Properties.Resources.resources
GUI/obj/Debug/GUI_MarkupCompile.cache
GUI/obj/Debug/GUI_MarkupCompile.i.cache
GUI/obj/Debug/GUI_MarkupCompile.i.lref
GUI/obj/Debug/GUI_MarkupCompile.lref
GUI/obj/Debug/MainWindow.baml
GUI/obj/Debug/MainWindow.g.cs
GUI/obj/Debug/MainWindow.g.i.cs
GUI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GUI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GUI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
GUI/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
MyLib/obj/Debug/DesignTimeResolveAssemblyReferences.cache
MyLib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyLib/obj/Debug/MyLib.csproj.CopyComplete
MyLib/obj/Debug/MyLib.csproj.CoreCompileInputs.cache
MyLib/obj/Debug/MyLib.csproj.FileListAbsolute.txt
MyLib/obj/Debug/MyLib.csprojAssemblyReference.cache
MyLib/obj/Debug/MyLib.dll
MyLib/obj/Debug/MyLib.pdb
MyLib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MyLib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MyLib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestTakerScanner/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestTakerScanner/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestTakerScanner/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestTakerScanner/obj/Debug/TestTakerScanner.csproj.CoreCompileInputs.cache
TestTakerScanner/obj/Debug/TestTakerScanner.csprojAssemblyReference.cache
TestTakerScanner/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestTakerScanner/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestTakerScanner/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestTakerScanner/obj/Debug/TestTakerScanner.csproj.CoreCompileInputs.cache
TestTakerScanner/obj/Debug/TestTakerScanner.csprojAssemblyReference.cache
MyLib/bin/Debug/MyLib.dll
MyLib/bin/Debug/MyLib.pdb
MyLib/bin/Debug/Newtonsoft.Json.dll
MyLib/bin/Debug/Newtonsoft.Json.pdb
MyLib/bin/Debug/Newtonsoft.Json.xml
TestTakerScanner/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestTakerScanner/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestTakerScanner/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestTakerScanner/obj/Debug/TestTakerScanner.csproj.CoreCompileInputs.cache
TestTakerScanner/obj/Debug/TestTakerScanner.csprojAssemblyReference.cache
TestTakerScanner/obj/Debug/TestTakerScanner.csprojAssemblyReference.cache
